<section id="home-intro" class="hero">
  <div class="intro-scroll-down">
    <a class="scroll-down" href="#about">
      <span class="mouse">
        <span class="mouse-dot"></span>
      </span>
    </a>
  </div>
  <div class="flexslider fullscreen-carousel hero-slider">
    <ul class="slides">
      <% page_data(:home_intro).slider.each_with_index do |slide, ind| %>
        <li>
          <div class='bg-j bg-j-<%= ind %>'></div>
          <div class="overlay-hero overlay-<%= slide.bg_overlay %>">
            <div class="container caption-hero">
              <div class="inner-caption">
                <h2 class="h2"><%= slide.title %></h2>
                <p class="lead">
                  <%= slide.subtitle %>
                </p>
                <% if present?(slide.btn_href) %>
                  <div class='intro-call'>
                    <a class='btn scrollto' href='<%= slide.btn_href %>'><%= slide.btn_text %></a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
