section#home-intro {
  .intro-call {
    text-align: center;
    color: #fff;
    margin-top: 90px;
    a.btn {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      min-width: 140px;
      display: inline-block;
      border-radius: 3px;
      &:hover {
        background-color: #fff;
        color: #333;
      }
    }
  }
}

.hero {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fullscreen-carousel {
  &.flexslider {
    margin: 0;
    border: 0;
  }
  overflow: hidden;
  position: relative;

  .slides li {
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  .overlay-hero {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;

    .caption-hero {
      display: inline-table;
      height: 100%;
      margin: 0 auto;
      position: relative;
      padding: 0px;
      margin: 0px;

      h1 {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .inner-caption {
        display: table-cell;
        margin: auto;
        vertical-align: middle;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}

/* Full Width Slider */
.fullwidth-slider {
  position:relative;
  overflow:hidden;
}

.fullwidth-slider .item {
  height:650px;
  position:relative;
  width:100%;
}

/* Fullscreen Slider Next Prev Arrow*/
.fullscreen-carousel .flex-direction-nav a {
  position: absolute;
  top: 50%;
  display: inline-block;
  margin-top: -30px;
  background: #fff;
  color: #252525;
  width: 51px;
  height: 51px;
  text-align: center;
  font-family: 'FontAwesome';
  color: #323232;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  font-size: 21px;
  line-height: 51px;
}

.fullscreen-carousel .flex-direction-nav a:hover {
  color: #e6ae49;
}

.flexslider.fullscreen-carousel:hover .flex-prev {
  left: 0px;
  opacity: 1;
}

.fullscreen-carousel .flex-direction-nav .flex-prev {
  left: -51px;
  background-position: center left;
}

.fullscreen-carousel .flex-direction-nav .flex-prev:before {
  content: "";
  display: inline-block;
}

.flexslider.fullscreen-carousel:hover .flex-next {
  right: 0px;
  opacity: 1;
}

.fullscreen-carousel .flex-direction-nav .flex-next {
  right: -51px;
  background-position: center right;
}

.fullscreen-carousel .flex-direction-nav .flex-next:before {
  content: "";
  display: inline-block;
}

@media (max-width: 991px) {

  /* Fullscreen Slider */
  .fullscreen-carousel .slides li img {
    width: 100%;
    height: 100%;
  }

  .fullscreen-carousel .caption-hero h1 {
    font-size: 25px;
  }

  .fullscreen-carousel .overlay-hero .caption-hero {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {

  /* Fullscreen Slider */
  .fullscreen-carousel .caption-hero h1 {
    font-size: 20px;
    margin: 0;
  }

  .fullscreen-carousel .caption-hero h5 {
    margin: 0;
    font-size: 12px;
  }

  .fullscreen-carousel .caption-hero .separator {
    margin-left: auto;
    margin-right: auto;
  }

  .fullscreen-carousel .text-left {
    text-align: center;
  }

  .full-intro .hero {
    padding-top: 64px;
  }

  .hero {
    padding: 0px;
  }
}

@media (max-width: 480px) {
  .fullscreen-carousel .overlay-hero .caption-hero .inner-caption {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.bg-j {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

<% data.home_intro.slider.each_with_index do |slide, ind| %>
  .bg-j-<%= ind %> {
    background-image: url(<%= slide.bg %>);
  }
<% end %>

.overlay-static-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 100%;
  z-index: 2;
  background-color: rgba(32,32,32,0.4);
  display: -webkit-flex;
  display: flex;
}

.overlay-dark, .overlay-dark80, .overlay-light, .overlay-light80 {
  position: relative;
  z-index: 1;
}

.overlay-dark {
  color: #fff;
}

.overlday-light {
  color: #333;
}

.overlay-dark:before, .overlay-dark80:before, .overlay-light:before, .overlay-light80:before {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.overlay-dark:before {
  background-color: rgba(32,32,32,0.4);
}

.overlay-dark80:before {
  background-color: rgba(32,32,32,0.8);
}

.overlay-light:before {
  background-color: rgba(255,255,255,0.4);
}

.overlay-light80:before {
  background-color: rgba(255,255,255,0.8);
}
