<% section(:work_gallery) do %>
  <div class='container'>
    <header>
      <h1><%= page_data(:work_gallery).title %></h1>
    </header>
    <ul class="x-categories-filter categories-filter list-inline">
      <li><a class="categories active" href="#" data-filter="*">All</a></li>
      <% page_data(:work_gallery).categories.each do |cat| %>
        <li>
          <a class="categories" data-filter=".category-<%= cat.name %>" href="#">
            <%= cat.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="grid">
    <% page_data(:work_gallery).categories.each_with_index do |cat, cat_ind| %>
      <% cat.items.each_with_index do |item, item_ind| %>
        <div class="grid-item <%= "category-#{cat.name}" %> col-md-4 col-sm-6 col-xs-12 no-padding">
          <a href='#<%= "gallery-#{cat_ind}-#{item_ind}" %>' class='x-monolog-btn'>
            <img src="<%= item.image %>"/>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
